<%= form_for([:admin, @usuario]) do |f| %>
  <% if notice %>
    <div class="alert-message warning"><%= notice %></div>
  <% end %>

  <% if @usuario.errors.any? %>
    <div class="alert-message block-message error">User has <%= pluralize(@usuario.errors.count, 'error') %></div>
  <% end %>

  <div class="clearfix">
    <%= f.label :email %>
    <div class="input">
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :clave %>
    <div class="input">
      <%= f.password_field :clave %>
    </div>
  </div>

  <div class="clearfix">
    <label>Permissions</label>
    <div class="input">
      <ul class="inputs-list">
        <li>
          <label>
            <%= f.check_box :can_edit_actividad %>
            <span>Can edit activity</span>
          </label>
        </li>
        <li>
          <label>
            <%= f.check_box :can_edit_efemeride %>
            <span>Can edit day</span>
          </label>
        </li>
        <li>
          <label>
            <%= f.check_box :can_see_leyenda %>
            <span>Can see legend</span>
          </label>
        </li>
        <li>
          <label>
            <%= f.check_box :can_see_resumen %>
            <span>Can see resumen</span>
          </label>
        </li>
        <li>
          <label>
            <%= f.check_box :can_download %>
            <span>Can download</span>
          </label>
        </li>
      </ul>
    </div>
  </div>

  <div class="actions">
    <%= submit_tag 'Save', :class => 'btn primary' %>
    <%= link_to 'Cancel', admin_usuarios_path, :class => 'btn' %>
  </div>
<% end %>