<%= form_for([:admin, @usuario]) do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :clave %>
    <%= f.text_field :clave %>
  </p>

  <p>
    <%= f.check_box :can_edit_actividad %>
    <%= f.label :can_edit_actividad %>
  </p>

  <p>
    <%= f.check_box :can_edit_efemeride %>
    <%= f.label :can_edit_efemeride %>
  </p>

  <p>
    <%= f.check_box :can_see_leyenda %>
    <%= f.label :can_see_leyenda %>
  </p>

  <p>
    <%= f.check_box :can_see_resumen %>
    <%= f.label :can_see_resumen %>
  </p>

  <p>
    <%= f.check_box :can_download %>
    <%= f.label :can_download %>
  </p>

  <p>
    <%= submit_tag 'Save' %>
  </p>
<% end %>