<%= form_for([:admin, @usuario], :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @usuario.email == 'admin' %>
    <div class="input clearfix"><span class="label warning">NOTICE</span> This is a special user. You can only modify the password.</div>
  <% end %>

  <%= errores @usuario %>

  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <% if @usuario.email == 'admin' %>
        <span class="uneditable-input"><%= @usuario.email %></span>
      <% else %>
        <%= f.text_field :email %>
      <% end %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :clave, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :clave %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Permissions</label>
    <div class="controls">
          <label class="checkbox">
            <%= f.check_box :can_edit_actividad %>
            <span>Can edit activity</span>
          </label>
          <label class="checkbox">
            <%= f.check_box :can_edit_efemeride %>
            <span>Can edit day</span>
          </label>
          <label class="checkbox">
            <%= f.check_box :can_see_leyenda %>
            <span>Can see legend</span>
          </label>
          <label class="checkbox">
            <%= f.check_box :can_see_resumen %>
            <span>Can see resumen</span>
          </label>
          <label class="checkbox">
            <%= f.check_box :can_download %>
            <span>Can download</span>
          </label>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag 'Save', :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', admin_usuarios_path, :class => 'btn' %>
  </div>
<% end %>