<%= render '/admin/alert-message' %>

<div class="well">
  <%= link_to 'New user', new_admin_usuario_path, :class => 'btn' %>
</div>

<table class="bordered-table zebra-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Can I edit events?</th>
      <th>Can I modify days?</th>
      <th>Can I see the legend?</th>
      <th>Can I see the description?</th>
      <th>Can I export to CSV?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @usuarios.each do |i| %>
      <tr>
        <td><%= link_to i.email, edit_admin_usuario_path(i.id) %></td>
        <td><%= i.can_edit_actividad %></td>
        <td><%= i.can_edit_efemeride %></td>
        <td><%= i.can_see_leyenda %></td>
        <td><%= i.can_see_resumen %></td>
        <td><%= i.can_download %></td>
        <td>
          <%= form_tag(admin_usuario_path(i.id), :method => :delete) do |f| %>
            <%= submit_tag 'Delete', :class => 'btn danger', :confirm => "Clicking 'Yes' will delete user #{i.email}. Are you sure?" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>