= form_with url: admin_events_path, multipart: true, class: 'form-horizontal' do

  .form-group
    = label_tag :_, 'Export all events', class: 'control-label col-sm-3'
    .col-sm-6
      = link_to '↯ Export .csv', admin_events_path(format: :csv), class: 'btn btn-small'

  .form-group
    = label_tag :file, 'Import all events', class: 'control-label col-sm-3'
    .col-sm-6
      = file_field_tag :file

  .col-sm-6.col-sm-offset-3
    = submit_tag 'Import', class: 'btn btn-primary'
