= form_with url: admin_events_path, multipart: true do

  .form-group.row
    = label_tag :_, 'Export all events', class: 'col-sm-3 col-form-label'
    .col-sm-6
      = link_to '↯ Export .csv', admin_events_path(format: :csv), class: 'btn btn-small'

  .form-group.row
    = label_tag :file, 'Import all events', class: 'col-sm-3 col-form-label'
    .col-sm-6
      = file_field_tag :file

  .col-sm-9.ml-sm-auto
    = submit_tag 'Import', class: 'btn btn-primary'
