<ul class="nav nav-tabs">
  <li class="<%= current_tab %>"><%= link_to 'Information', admin_path %></li>

  <% if user.is_admin %>
    <li class="<%= current_tab :users %>"><%= link_to 'Users', admin_users_path %></li>
  <% end %>

  <% if user.can_edit_activity %>
    <li class="<%= current_tab :activities %>"><%= link_to 'Activities', admin_activities_path %></li>
  <% end %>

  <% if user.can_download && user.can_edit_event %>
    <li class="<%= current_tab :events %>"><%= link_to 'Events', admin_events_path %></li>
  <% end %>
</ul>
