<% content_for :cabecera do %>
  <p id="year">Login</p>

  <div id="logged_as" class="span3">
    <div>
      Welcome, <strong><%= @logged_as.email %></strong><br>
      <%= link_to 'Back to calendar', root_path %>
    </div>
  </div>
<% end %>

<% content_for :cuerpo do %>
  <%= form_tag login_path, :method => :post do %>

    <% unless notice.blank? %>
      <div class="alert alert-error"><%= notice %></div>
    <% end %>

    <%= label_tag :email %>
    <%= text_field_tag :email %>

    <%= label_tag :clave %>
    <%= password_field_tag :clave %>

    <div class="form-actions">
      <%= submit_tag 'Log me in!', :class => 'btn btn-primary' %>
    </div>

  <% end %>
<% end %>
