<div id="centerer">
  <p id="logged_as">
    Welcome, <%= @logged_as.email %> |
    <% if @logged_as.email == 'guest' %>
      <a href="/admin/usuarios">Log in</a>
    <% else %>
      <%= link_to 'Administration', admin_path %> |
      <%= link_to 'Logout', logout_path %>
    <% end %>
  </p>

  <div id="cabecera">
    <h1>
      <%= @hoy %>
    </h1>
    <% if @logged_as.can_edit_efemeride %>
      <%= form_tag replace_path, :method => :post do %>
        <%= hidden_field_tag :hoy %>
      <% end %>
    <% end %>
    <%= form_tag root_path, :method => :get do %>
      <%= select_tag :anyo, options_for_select(@años, @año), :onchange => 'submit();' %>
    <% end %>
  </div>

  <div id="cuerpo" class="clearfix">
    <%= pintar_calendario %>

    <% if @logged_as.can_see_leyenda %>
      <ul id="leyenda">
        <% @actividades.each do |i| %>
          <li><span class="activity<%= i.id %>"></span><%= i.nombre %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
