<% content_for :header_day do %>
  <div class="col-sm-3 header-day" data-day="<%= @today.day %>" data-month="<%= l(@today, :format => :month) %>">
    <%= @today.day %>
    <p class="header-month"><%= l(@today, :format => :month) %></p>
  </div>
<% end %>

<% content_for :header_year do %>
  <div class="col-sm-6">
    <span class="header-year js-year-selection"><%= @year %></span>
    <ul class="col-sm-1 header-years-dropdown row">
      <% @years.to_a.reverse.each do |year| %>
        <li class="col-sm-4"><h4><%= link_to year, year_path(year) %></h4></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= (1..12).to_a.in_groups_of(4) do |months| %>
  <div class="row">
    <% months.each do |month| %>
      <%= print_month @year, month %>
    <% end %>
  </div>
<% end %>

<% if signed_in? && current_user.can_see_legend %>
  <div class="legend">
    <% @activities.each do |i| %>
      <p><span class="badge activity<%= i.id %>"> </span><%= i.name %></p>
    <% end %>
  </div>
<% end %>

<% if signed_in? && current_user.can_edit_event %>
  <div class="event-form js-form">
    <%= render 'events/form' %>
  </div>
<% end %>

<% content_for :footer do %>
  <% if signed_in? && current_user.can_download %>
    <%= link_to "↯ Export #{@year} events as .csv", "#@year.csv" %>
  <% end %>
<% end %>
