- content_for :header_day do
  .header-day{"data-day" => "#{@today.day}", "data-month" => "#{l(@today, format: :month)}"}
    = @today.day
    %p.header-month= l(@today, format: :month)

- content_for :header_year do
  %span.header-year.js-year-selection= @year
  %ul.header-years-dropdown
    .row
      - @years.to_a.reverse.each do |year|
        %li.col-4.text-center
          = link_to year, year_path(year)

.row
  - (1..12).each do |month|
    = cell(:month, nil, year: @year, month: month, today: @today, events: @events, show_desc: signed_in? && current_user.can_see_description)

- if signed_in? && current_user.can_see_legend
  .legend.d-none.d-lg-block
    - @activities.each do |i|
      %p
        %span{class: "badge activity#{i.id}"}= ' '
        = i.count_during_year(@year)
        = i.name

- content_for :footer do
  - if signed_in? && current_user.can_download
    = link_to "↯ Export #{@year} events as .csv", "#@year.csv"
