<% content_for :cabecera do %>
  <div id="today" class="span3">
    <%= @today.day %>
    <p><%= @nombres_mes[@today.month] %></p>
  </div>

  <p id="year"><%= @año %></p>
  <ul id="years" class="span1">
    <% @años.reverse.each do |año| %>
    <li><h3><%= link_to año, "/#{año}" %></h3></li>
    <% end %>
  </ul>
  <div id="logged_as" class="span3">
    <div>
      Welcome, <strong><%= @logged_as.email %></strong><br>
      <% if @logged_as.email == 'guest' %>
        <%= link_to 'Log in', admin_path %>
      <% else %>
        <%= link_to 'Administration', admin_path %> |
        <%= link_to 'Logout', logout_path %>
      <% end %>
    </div>
  </div>
<% end %>

<%= compose_calendar %>

<% if @logged_as.can_see_leyenda %>
  <div id="leyenda">
    <% @actividades.each do |i| %>
      <p><span class="badge activity<%= i.id %>"></span><%= i.nombre %></p>
    <% end %>
  </div>
<% end %>

<% if @logged_as.can_edit_efemeride %>
  <div id="replace">
    <%= form_tag action_path, :method => :put do %>
      <div id="input">
        <%= label_tag :activity_id %>
        <%= select_tag :activity_id, options_from_collection_for_select(@actividades, :id, :nombre) %>

        <%= label_tag :resumen %>
        <%= text_area_tag :resumen %>

        <%= hidden_field_tag :day %>
      </div>
      <div id="buttons">
        <button type="submit" id="save" class="btn btn-primary">Save</button>
        <button type="button" id="cancel" class="btn">Cancel</button>
        <button type="button" id="delete" class="btn btn-danger">Delete</button>
      </div>
    <% end %>
  </div>
<% end %>
