<% content_for :header do %>
  <div id="today" class="span3" data-day="<%= @today.day %>" data-month="<%= l(@today, :format => :month) %>">
    <%= @today.day %>
    <p><%= l(@today, :format => :month) %></p>
  </div>

  <p id="year"><%= @year %></p>
  <ul id="years" class="span1">
    <% @years.reverse.each do |year| %>
      <li><h3><%= link_to year, "/#{year}" %></h3></li>
    <% end %>
  </ul>
  <div id="logged_as" class="span3">
    <div>
      Welcome, <strong><%= current_user_account %></strong><br>
      <% unless signed_in? %>
        <%= link_to 'Log in', admin_path %>
      <% else %>
        <%= link_to 'Administration', admin_path %> |
        <%= link_to 'Logout', sign_out_path, :method => :delete %>
      <% end %>
    </div>
  </div>
<% end %>

<%= each_with_wrapper(1..12, 4, 'row') do |month| %>
  <%= print_month @year, month %>
<% end %>

<% if signed_in? and current_user.can_see_legend %>
  <div id="legend">
    <% @activities.each do |i| %>
      <p><span class="badge activity<%= i.id %>"></span><%= i.name %></p>
    <% end %>
  </div>
<% end %>

<% if signed_in? and current_user.can_edit_event %>
  <div id="replace">
    <%= form_tag action_path, :method => :put do %>
      <div id="input">
        <%= label_tag :activity_id %>
        <%= select_tag :activity_id, options_from_collection_for_select(@activities, :id, :name) %>

        <%= label_tag :description %>
        <%= text_area_tag :description %>

        <%= hidden_field_tag :day %>
      </div>
      <div id="buttons">
        <button type="submit" id="save" class="btn btn-primary">Save</button>
        <button type="button" id="cancel" class="btn">Cancel</button>
        <button type="button" id="delete" class="btn btn-danger">Delete</button>
      </div>
    <% end %>
  </div>
<% end %>
