        <div id="centrador">
            <div id="cabecera">
                <h1>
                <%= @hoy %>
                </h1>
                <h5></h5>
                <%= form_tag replace_path, :method => :get do %>
                    <%= hidden_field_tag :hoy %>
                <% end %>
                <%= form_tag root_path, :method => :post do %>
                    <%= select_tag :anyo, options_for_select(@años, @año), :onchange => 'submit();' %>
                <% end %>
            </div>
            
            <div id="cuerpo" class="clearfix">
<%= pintar_calendario %>            
            </div>
        </div>
