<%= form_for @event, html: {class: 'row'} do |f| %>
  <div class="event-form-inputs col-sm-9">
    <div class="form-group">
      <%= f.label :activity_id %>
      <%= f.select :activity_id, options_from_collection_for_select(@activities, :id, :name, f.object.activity_id), {}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :rating %>
      <div id="js-rating" class="event-form-rating"></div>
    </div>

    <%= f.hidden_field :day %>
  </div>
  <div class="event-form-buttons col-sm-3">
    <button type="button" class="btn btn-default js-cancel form-control">Close</button>
    <button type="submit" class="btn btn-primary form-control">Save</button>
    <% unless @event.new_record? %>
      <button type="button" class="btn btn-danger js-delete form-control">Delete</button>
    <% end %>
  </div>
<% end %>

<% unless @event.new_record? %>
  <div id="js-assets" class="event-form-assets"></div>
<% end %>
