<%= form_for @event, html: {class: 'row-fluid'} do |f| %>
  <div class="span9">
    <%= f.label :activity_id %>
    <%= f.select :activity_id, options_from_collection_for_select(@activities, :id, :name, f.object.activity_id) %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.hidden_field :day %>
  </div>
  <div class="span3">
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn js-cancel">Cancel</button>
    <% unless @event.new_record? %>
      <button type="button" class="btn btn-danger js-delete">Delete</button>
    <% end %>
  </div>
<% end %>

<div class='event-form-assets js-assets-list'>
  <%= render('assets/index', event: @event) unless @event.new_record? %>
</div>
