= form_with model: @event, class: 'row' do |f|
  .event-form-inputs.col-sm-9
    .mb-2= rating(@event.rating.to_i, Event::TOP)

    .mb-2.form-floating
      = f.select :activities_ids, options_from_collection_for_select(@activities, :id, :name, f.object.activities.pluck(:id)), {}, class: 'form-control h-100', multiple: true
      = f.label :activities_ids

    .mb-2.form-floating
      = f.text_area :description, class: 'form-control', placeholder: '…'
      = f.label :description

    = f.hidden_field :day

  .col-sm-3
    - if action_name != 'show'
      = link_to 'Close', year_path(@event.day.year), class: 'btn btn-light form-control mb-3', data: {'turbo-frame': '_top'}
    - else
      %button.btn.btn-light.form-control.mb-3{type: 'button', onclick: 'document.getElementById("modal").close()'} Close
    = f.submit 'Save', class: 'btn btn-primary form-control mb-3'
    - unless @event.new_record?
      = link_to 'Delete', event_path(@event), class: 'btn btn-danger form-control', data: {'turbo-method': :delete, 'turbo-confirm': 'Are you sure?', 'turbo-frame': '_top'}

- unless @event.new_record?
  = turbo_frame_tag 'photos' do
    = render 'photos', photos: @event.photos, event_id: @event.id
