%h2 Change your password

%p
  Your password has been reset. Choose a new password below.

= form_with scope: :user, url: user_password_path(@user, token: @user.confirmation_token), method: :patch, local: true do |f|

= form_with scope: :user, class: 'col-sm-4 col-sm-offset-4', url: user_password_path(@user, token: @user.confirmation_token), method: :patch do |f|

  .form-group
    = f.label :password, 'Choose password'
    = f.password_field :password

  .submit_field
    = f.submit 'Save this password'
