- content_for :header_day do
  .col-sm-3

- content_for :header_year do
  .col-sm-6

.row.justify-content-center
  = form_with scope: :password, url: passwords_path, class: 'col-4' do |f|

    - unless notice.blank?
      .alert.alert-danger= notice

    .form-group
      = f.label :email
      = f.text_field :email, type: 'email', class: 'form-control'

    = f.submit 'Reset password', class: 'btn btn-primary'
