<% assets = event.assets.to_a << :dropzone %>
<% assets.in_groups_of(4, false) do |group| %>
  <div class='row'>
    <% group.each do |asset| %>
      <div class='col-sm-<%= (assets.count == 1) ? 12 : 3 %> asset-element'>

        <% if asset == :dropzone %>
          <div class="upload-dropzone js-upload-dropzone">
            <progress value="0" max="100"></progress>
            <small>Drop a photo here</small>
            <p>or</p>
            <button class="btn btn-primary btn-xs form-control">Select a file</button>
            <%= fields_for event.assets.build do |f| %>
              <%= f.file_field :image, 'data-url' => assets_path(event_id: event.id), class: 'js-upload-asset hide' %>
            <% end %>
          </div>
        <% else %>
          <%= link_to '✗', asset_path(asset), method: :delete, 'data-remote' => true %>
          <%= image_tag(Dragonfly.app.remote_url_for(asset.image_uid), class: 'asset-list-element img-responsive') %>
        <% end %>

      </div>
    <% end %>
  </div>
<% end %>

<script>
$('.js-upload-asset').fileupload({
  dropZone: $('.js-upload-dropzone'),
  progressall: function(event, data) {
    var progress = parseInt(data.loaded / data.total * 100, 10);
    $('progress').val(progress);
  },
  done: function(event, data) {
    $('.js-assets-list').html(data.result);
  }
});
</script>
