= form_with model: [:admin, @activity], class: 'form-horizontal' do |f|

  = errors_bar @activity

  .form-group
    = f.label :name, class: 'control-label col-sm-2'
    .col-sm-6
      = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :color, class: 'control-label col-sm-2'
    .col-sm-6
      = f.text_field :color, class: 'form-control'

  .form-group
    = f.label :position, class: 'control-label col-sm-2'
    .col-sm-6
      = f.text_field :position, class: 'form-control'

  .col-sm-6.col-sm-offset-2
    = submit_tag 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', admin_activities_path, class: 'btn'
