= form_with model: [:admin, @activity] do |f|

  = errors_bar @activity

  .row.mb-2
    = f.label :name, class: 'col-sm-2 col-form-label'
    .col-sm-6
      = f.text_field :name, class: 'form-control'

  .row.mb-2
    = f.label :color, class: 'col-sm-2 col-form-label'
    .col-sm-6
      = f.text_field :color, class: 'form-control', type: 'color'

  .row.mb-2
    = f.label :position, class: 'col-sm-2 col-form-label'
    .col-sm-6
      = f.text_field :position, class: 'form-control'

  .row
    .col-sm-10.offset-2
      = submit_tag 'Save', class: 'btn btn-primary'
      = link_to 'Cancel', admin_activities_path, class: 'btn btn-link', data: { 'turbo-frame': '_top' }
