<%= form_for([:admin, @actividad]) do |f| %>
  <%= errores @actividad %>

  <div class="clearfix">
    <%= f.label :nombre %>
    <div class="input">
      <%= f.text_field :nombre %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :color %>
    <div class="input">
      <%= f.text_field :color %>
    </div>
  </div>

  <div class="actions">
    <%= submit_tag 'Save', :class => 'btn primary' %>
    <%= link_to 'Cancel', admin_actividades_path, :class => 'btn' %>
  </div>
<% end %>