<%= render '/admin/alert-message' %>

<div class="well">
  <%= link_to 'New activity', new_admin_actividad_path, :class => 'btn' %>
</div>

<table class="bordered-table zebra-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @actividades.each do |i| %>
      <tr>
        <td><%= link_to i.nombre, edit_admin_actividad_path(i.id) %></td>
        <td><%= i.color %></td>
        <td>
          <%= form_tag(admin_actividad_path(i.id), :method => :delete) do |f| %>
            <%= submit_tag 'Delete', :class => 'btn danger', :confirm => "Clicking 'Yes' will delete activity #{i.nombre}. Are you sure?" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>