<%= render '/admin/alert-message' %>

<p>
  <%= link_to 'New activity', new_admin_actividad_path, :class => 'btn large' %>
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @actividades.each do |i| %>
      <tr>
        <td><%= link_to i.nombre, edit_admin_actividad_path(i.id) %></td>
        <td><%= i.color %></td>
        <td><%= link_to 'Delete', admin_actividad_path(i), :class => 'btn btn-danger', :confirm => "Clicking 'Yes' will delete activity #{i.nombre}. Are you sure?", :method => :delete, :remote => true %></td>
      </tr>
    <% end %>
  </tbody>
</table>