<%= form_for([:admin, @user], :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @user.is_admin %>
    <div class="controls control-group"><span class="label label-warning">NOTICE</span> This is a special user. You can only modify the password.</div>
  <% end %>

  <%= errors_bar @user %>

  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-sm-2' %>
    <div class="col-sm-6">
      <% if @user.is_admin %>
        <span class="uneditable-input"><%= @user.email %></span>
      <% else %>
        <%= f.text_field :email, class: 'form-control' %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, :class => 'control-label col-sm-2' %>
    <div class="col-sm-6">
      <%= f.password_field :password, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">Permissions</label>
    <div class="col-sm-6">
      <div class="checkbox">
        <label>
          <%= f.check_box :can_edit_activity %>
          <span>Can manage activities on admin</span>
        </label>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-2">
      <div class="checkbox">
        <label>
          <%= f.check_box :can_edit_event %>
          <span>Can add/edit/delete events</span>
        </label>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-2">
      <div class="checkbox">
        <label>
          <%= f.check_box :can_see_legend %>
          <span>Can see a legend besides the calendar</span>
        </label>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-2">
      <div class="checkbox">
        <label>
          <%= f.check_box :can_see_description %>
          <span>Can see description hovering over a day</span>
        </label>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-2">
      <div class="checkbox">
        <label>
          <%= f.check_box :can_download %>
          <span>Can download events as CSV</span>
        </label>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-2">
      <div class="checkbox">
        <label>
          <%= f.check_box :is_admin %>
          <span>Can manage users on admin</span>
        </label>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-sm-offset-2">
    <%= submit_tag 'Save', :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', admin_users_path, :class => 'btn' %>
  </div>
<% end %>
