<%= render '/admin/alert_message' %>

<p>
  <%= link_to 'New user', new_admin_user_path, :class => 'btn btn-large' %>
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Email</th>
      <th>Can I manage the activities?</th>
      <th>Can I modify events?</th>
      <th>Can I see the legend?</th>
      <th>Can I see the description?</th>
      <th>Can I download events as CSV?</th>
      <th>Can manage the users?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |i| %>
      <tr>
        <td><%= link_to i.email, edit_admin_user_path(i.id) %></td>
        <td><%= tick_or_x i.can_edit_activity %></td>
        <td><%= tick_or_x i.can_edit_event %></td>
        <td><%= tick_or_x i.can_see_legend %></td>
        <td><%= tick_or_x i.can_see_description %></td>
        <td><%= tick_or_x i.can_download %></td>
        <td><%= tick_or_x i.is_admin %></td>
        <td><%= link_to 'Delete', admin_user_path(i), :class => 'btn btn-danger', :data => {:confirm => "Clicking 'Yes' will delete user #{i.email}. Are you sure?"}, :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>