<!DOCTYPE html>
<html>
  <head>
    <title>iCal - Administration</title>
    <%= stylesheet_link_tag 'reset', 'admin' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="centerer">
      <p id="logged_as">
        <%= link_to 'Back to calendar', root_path %>
      </p>

      <ul id="tabs" class="clearfix">
        <li><a class="on">Login</a></li>
      </ul>

      <div id="content">
        <%= form_tag login_path, :method => :post do %>

          <% unless notice.blank? %>
            <p class="error_explanation">
              <%= notice %>
            </p>
          <% end %>

          <p>
            <%= label_tag :email %>
            <%= text_field_tag :email %>
          </p>

          <p>
            <%= label_tag :clave %>
            <%= text_field_tag :clave %>
          </p>

          <%= submit_tag 'Entrar' %>

        <% end %>
      </div>
    </div>
  </body>
</html>