- if signed_in?
  - if @_controller.kind_of? HomeController
    - if current_user.is_admin || current_user.can_edit_activity
      = link_to 'Admin area', admin_path
      |
  - else
    = link_to '↩ Calendar', root_path
    |
  = link_to '✖ Logout', sign_out_path, method: :delete
- else
  - if @_controller.kind_of? HomeController
    = link_to 'Log in', admin_path
  - else
    = link_to 'Back to calendar', root_path
