<% content_for :header do %>
  <p id="year">Admin</p>

  <div id="logged_as" class="span3">
    <div>
      Welcome, <strong><%= @logged_as.email %></strong><br>
      <%= link_to 'Back to calendar', root_path %>
      <%= link_to 'Logout', logout_path %>
    </div>
  </div>
<% end %>

<% content_for :body do %>
  <ul class="nav nav-tabs">
    <li class="<%= ((@tab.nil?) ? 'active' : nil) %>"><%= link_to 'Information', admin_path %></li>
    <% if @logged_as.email == 'admin' %>
      <li class="<%= ((@tab == :users) ? 'active' : nil) %>"><%= link_to 'Users', admin_users_path %></li>
    <% end %>
    <li class="<%= ((@tab == :activities) ? 'active' : nil) %>"><%= link_to 'Activities', admin_activities_path %></li>
  </ul>

  <%= yield %>
<% end %>

<%= render :template => 'layouts/application' %>