<% content_for :header do %>
  <p id="year">Admin</p>

  <div id="logged_as" class="span3">
    <div>
      Welcome, <strong><%= current_user_account %></strong><br>
      <%= link_to 'Back to calendar', root_path %>
      <%= link_to 'Logout', sign_out_path, :method => :delete %>
    </div>
  </div>
<% end %>

<% content_for :body do %>
  <ul class="nav nav-tabs">
    <li class="<%= current_tab %>"><%= link_to 'Information', admin_path %></li>
    
    <% if current_user.is_admin %>
      <li class="<%= current_tab :users %>"><%= link_to 'Users', admin_users_path %></li>
    <% end %>
      
    <li class="<%= current_tab :activities %>"><%= link_to 'Activities', admin_activities_path %></li>
  </ul>

  <%= yield %>
<% end %>

<%= render :template => 'layouts/application' %>