<% content_for :header_year do %>
  <div id="today" class="col-sm-6 col-sm-offset-3">
    <p class="header-year">Admin</p>
  </div>
<% end %>

<% content_for :main do %>
  <ul class="nav nav-tabs">
    <li class="<%= current_tab %>"><%= link_to 'Information', admin_path %></li>

    <% if current_user.is_admin %>
      <li class="<%= current_tab :users %>"><%= link_to 'Users', admin_users_path %></li>
    <% end %>

    <li class="<%= current_tab :activities %>"><%= link_to 'Activities', admin_activities_path %></li>
  </ul>

  <%= yield %>
<% end %>

<%= render :template => 'layouts/application' %>
