<% content_for :cabecera do %>
  <ul class="nav secondary-nav">
    <li><a>Welcome, <strong><%= @logged_as.email %></strong></a></li>
    <li><%= link_to 'Back to calendar', root_path %></li>
    <li><%= link_to 'Logout', logout_path %></li>
  </ul>
<% end %>

<% content_for :cuerpo do %>
  <ul class="tabs">
    <li class="<%= ((@tab.nil?) ? 'active' : nil) %>"><%= link_to 'Information', admin_path %></li>
    <% if @logged_as.email == 'admin' %>
      <li class="<%= ((@tab == :users) ? 'active' : nil) %>"><%= link_to 'Users', admin_usuarios_path %></li>
    <% end %>
    <li class="<%= ((@tab == :activities) ? 'active' : nil) %>"><%= link_to 'Activities', admin_actividades_path %></li>
  </ul>

  <%= yield %>
<% end %>

<%= render :template => 'layouts/application' %>