<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>iCal - Administration</title>
    <%= stylesheet_link_tag 'reset', 'admin' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="centerer">
      <p id="logged_as">
        Welcome, <strong><%= @logged_as.email %></strong> |
        <%= link_to 'Back to calendar', root_path %> |
        <%= link_to 'Logout', logout_path %>
      </p>

      <ul id="tabs" class="clearfix">
        <li><%= link_to 'Information', admin_path, :class => ((@tab.nil?) ? 'on' : nil) %></li>
        <% if @logged_as.email == 'admin' %>
          <li><%= link_to 'Users', admin_usuarios_path, :class => ((@tab == :users) ? 'on' : nil) %></li>
        <% end %>
        <li><%= link_to 'Activities', admin_actividades_path, :class => ((@tab == :activities) ? 'on' : nil) %></li>
      </ul>

      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
