<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>mical</title>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= csrf_meta_tags %>
    <style>
<% @activities.each do |i| %>
        .activity<%= i.id %> {background: <%= i.color %>;}
<% end if defined? @activities %>
    </style>
  </head>
  <body>
    <section id="calendar">
      <header class="container-fluid">
        <div class="row">
          <%= yield :header_day %>
          <%= yield :header_year %>

          <div class="col-sm-3 header-user-info">
            <div>
              Welcome, <strong><%= current_user_account %></strong><br>
              <%= render 'layouts/header_user_info_links' %>
            </div>
          </div>
        </div>
      </header>

      <main class="container-fluid">
        <%= content_for?(:main) ? yield(:main) : yield %>

        <%= yield :footer %>
      </main>
    </section>

    <!-- * Remove at your will * -->
    <footer class="container">
        Get the source and instructions on <a href="http://github.com/dncrht/mical">GitHub</a>!
    </footer>
    <!-- *********************** -->

    <%= javascript_include_tag 'application' %>
  </body>
</html>
