<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>iCal</title>
    <%= stylesheet_link_tag 'xreset', 'bootstrap.min', 'home' %>
    <%= csrf_meta_tag %>
    <style>
<% @actividades.each do |i| %>
        .activity<%= i.id %> {background: #<%= i.color %>;}
<% end %>
    </style>
  </head>
  <body>
    <div id="cabecera">
      <div class="container">
        <%= yield :cabecera %>
      </div>
    </div>

    <div id="cuerpo">
      <div class="container">
        <%= content_for?(:cuerpo) ? yield(:cuerpo) : yield %>
      </div>
    </div>

    <%= javascript_include_tag 'jquery.min', 'rails', 'home' %>
  </body>
</html>
