<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>iCal</title>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= csrf_meta_tags %>
    <style>
<% @activities.each do |i| %>
        .activity<%= i.id %> {background: <%= i.color %>;}
<% end if defined? @activities %>
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div class="container">
          <%= yield :header_day %>
          <%= yield :header_year %>

          <div id="user_box" class="span3">
            <div>
              Welcome, <strong><%= current_user_account %></strong><br>
              <%= render 'layouts/user_box_links' %>
            </div>
          </div>
        </div>
      </div>

      <div id="body">
        <div class="container">
          <%= content_for?(:body) ? yield(:body) : yield %>
        </div>
      </div>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
