<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>iCal</title>
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= csrf_meta_tags %>
    <style>
<% @activities.each do |i| %>
        .activity<%= i.id %> {background: <%= i.color %>;}
<% end if defined? @activities %>
    </style>
  </head>
  <body>
    <div id="header">
      <div class="container">
        <%= yield :header %>
      </div>
    </div>

    <div id="body">
      <div class="container">
        <%= content_for?(:body) ? yield(:body) : yield %>
      </div>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
